html {
  text-align: center;
  font-family: helvetica;
}

.standout {
  color: white;
  background-image: url(../images/background.png);
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#copyright {
  font-size: 11px;
  color: white;
}

.botNav {
  background-color: dimgray;
  text-align: left;
}
